.candle{
    position: absolute;
    /* left: 100px;  */
    text-shadow: 1px 1px 10px lightgoldenrodyellow;
    transition: all 3s ease-in-out;
}

.hoverDown{
    position: absolute;
    /* left: 100px; */
    transform: translateY(-50px);
    text-shadow: 1px 1px 30px lightgoldenrodyellow;
}

.hoverUp{
    position: absolute;
    /* left: 100px; */
    transform: translateY(50px);
    text-shadow: 1px 1px 30px lightgoldenrodyellow;
}