@font-face {
  font-family: 'Happy Halloween';
  font-style: normal;
  font-weight: 400;
  src: local('Happy Halloween'), url('https://fonts.cdnfonts.com/s/66549/HappyHalloween.woff') format('woff');
}

*{
  cursor: default;
  margin: 0px;
  padding: 0px;
  --backgroundColor : black;
  --fontColor : black;
  --spookyOrange : #ff9900;

scroll-behavior: smooth;
}

body{
background-color: var(--backgroundColor);
}

a{
  text-decoration: underline;
  color: var(--spookyOrange);
  cursor: pointer;
}

/*=====
NAVBAR
======*/

.nav-container{
position: fixed;

  height : 64px;
  min-width: 100%;

  background-color: var(--backgroundColor);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: solid 0.5px var(--spookyOrange);

  overflow: hidden;
}

.title-container{
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 20px;
}

.title{
  color: var(--fontColor);
  font-family: 'Happy Halloween', sans-serif;
  font-size: 30px;

  text-shadow: 1px 1px 10px #ff9900;
}

.nav-link-container {
  height: 100vh;
  width: 100%;
  
  position: fixed;
  top: 0;
  right: 0;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  /* transition: opacity 0.3s ease-in-out; */

  overflow: hidden;
  background-color: var(--fontColor);

  z-index: 1;
}

.nav-list{
  
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  position: relative;
  left: 0px;

  list-style: none;

  font-family: 'Happy Halloween', sans-serif;
  font-size: 24px;

  background-color: var(--backgroundColor);
}

.nav-list li a {
  color: var(--spookyOrange);
  text-decoration: none;
  letter-spacing: 5px;
}

.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 20px;
  z-index: 2;
}

.menu-icon{
font-size: 36px;
cursor: pointer;

transition: all 0.4s ease-in-out;
}

.active{
  transform: translateX(0%);
  overflow: hidden;
}

.toggled{
transform: rotate(60deg);
}
/*=====
MAIN
=======*/

.text-container{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    margin: 120px 0px 60px 0px;
    max-width: 70%;

  }
  
  .text-content {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 26px;
  
    font-size: 18px;
    font-family: 'Happy Halloween', sans-serif;
    color: var(--spookyOrange);

    letter-spacing: 0.6px;
  }

  .teaser-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    margin: 120px 0px 60px 0px;
    max-width: 70%;
  }

  .teaser-content {
    text-align: center;

    position: relative;
    top:200px;

    margin-top: 20px;
    margin-bottom: 26px;
  
    font-size: 28px;
    font-family: 'Happy Halloween', sans-serif;
    color: var(--spookyOrange);

    letter-spacing: 0.6px;
  }